body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: rgb(34, 30, 30);
}

.board {
  margin-top: 100px;
}

.square {
  background-color: rgba(255, 235, 205, .7);
  transition: 0.5s ease;
  width: 72px;
  height: 72px;
  border: 1px solid white;
}

.square:hover {
  background-color: rgb(245, 222, 179);
  cursor: pointer;
}