body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: rgb(34, 30, 30);
}

.status {
  margin: 10px 0px;
  color: azure;
  text-align: center;
}

.square {
  padding: 29.5px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.5s ease;
  width: 72px;
  height: 72px;
  border: 0.1px solid rgb(245, 222, 179);
}

.square:hover {
  background-color: rgb(245, 222, 179);
  cursor: pointer;
}